# Virtual environments
venv/
capstone_venv/

# Python cache files
__pycache__/

# pytest cache directory
.pytest_cache/

# Alembic migration files
alembic/

# Environment variables file
.env

# Alembic configuration file
alembic.ini

# Log files
app.log
py_log.log

# pytest configuration file
pytest.ini
